{{#if isAuth}}
<div class="mb-3">
  <p>You are authorized now!</p>
  <a href="/my-stickers">My stickers</a>
</div>
{{else}}
<div class="login-block container">
  <form action="/auth/login" method="POST">
    <div class="input-field mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
    </div>

    <div class="input-field mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    {{!-- <p><a href="/auth/reset">Забыли пароль?</a></p> --}}

    <button class="btn btn-primary" type="submit">Войти</button>
  </form>
</div>

{{/if}}
