<div>
  <button><b>+</b></button>
</div>
<div>
  {{#if stickers.length}}
  <ul>
    {{#each stickers}}
    <li data-stickerId="{{id}}">{{label}} / {{date}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p>Stickers is empty</p>
  {{/if}}
</div>