{{#if templates.length}}
<ul>
	{{#each templates}}
	<li data-templateId="{{_id}}">{{category}}
		<ul>
			{{#each list_data as |data| }}
			<li>{{data}}</li>
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
{{else}}
<p>Templates is empty</p>
{{/if}}