#logo {
  text-decoration: none;
  color: #adb5bd;
}

#logo:hover {
  transition: all 0.3s ease-in-out;
  color: #76787a;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.label-note {
  border: none;
}

.form-control.add-note {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0 5px 0 0;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

.form-control.is-valid,
.form-control.is-invalid {
  border-color: #ced4da;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none
}

.list-note {
  list-style-type: none
}

.trash-minus {
  position: absolute;
  left: -1.8rem;
  top: 1%;
  font-size: 1.3rem;
  padding: 0 3.5px;
}

.sticker-trash {
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 1.3rem;
  padding: 0 3.5px;
  color: #fff;
  z-index: 5;
}

.add-note {
  font-size: 1.4rem;
  padding: 0 3.5px;
}

.toast.show {
  bottom: .4rem;
  z-index: 999;
}

#addNewSticker {
  font-size: 2rem;
}
