.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

.form-control.is-valid,
.form-control.is-invalid {
  border-color: #ced4da;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: 0 0 0 0.12rem rgb(220 53 69 / 25%)
}

.list-repetition {
  list-style-type: none
}

.trash {
  position: absolute;
  left: -1.8rem;
  top: 1%;
  font-size: 1.3rem;
  padding: 0 3.5px;
}

.add-repetition {
  font-size: 1.4rem;
  padding: 0 3.5px;
}

.toast.show {
  top: .4rem
}

#addNewSticker {
  font-size: 2rem;
}
