<div class="new-sticker container mb-3 mt-3 d-flex" >
  <a href="/my-stickers/create" id="addNewSticker" type="button" class="bi bi-plus-square"></a>
</div>

<div class="container grid text-center">
  {{#if stickers.length}}
  {{#each stickers}}
  <div data-stickerId="{{id}}" class="card text-bg-warning mb-3">
    <h5 class="card-header">{{date}}</h5>
    <div class="card-body bg-light">
      <p class="card-title">{{header}}</p>
    </div>
  </div>
  {{/each}}
  {{else}}
  <p>Stickers is empty</p>
  {{/if}}
</div>
